* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0a192f;
    background-color: #0a0e27;
    color: #0ac5c4;
    text-align: center;
}

/*Pass Screen*/

.pass-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 10, 10, 10);
    color: white;
    align-items: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.pass-screen.hidden {
    display: none;
}

/*End*/
/*Ready button*/

.ready {
    font-size: 1.1rem;
    cursor: pointer;
}

button {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ddebf0;
}

#clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%,
            70% 0%,
            100% 30%,
            100% 70%,
            70% 100%,
            30% 100%,
            0% 70%,
            0% 30%);
}

.arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
}

#leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
}

button:hover #rightArrow {
    background-color: #27c39f;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
    background-color: #27c39f;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
}

#rightTop {
    top: -1.98em;
    left: 91%;
}

#leftTop {
    top: -1.96em;
    left: -3em;
}

#leftBottom {
    top: 2.1em;
    left: -2.15em;
}

#rightBottom {
    top: 45%;
    left: 88%;
}

button:hover #leftTop {
    animation:
        0.1s ease-in-out 0.05s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
    animation:
        0.1s ease-in-out 0.15s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
    animation:
        0.1s ease-in-out 0.25s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
    animation:
        0.1s ease-in-out 0.35s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
    transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
}

@keyframes changeColor8 {
    from {
        background-color: #2781c3;
    }

    to {
        background-color: #27c39f;
    }
}

@keyframes lightEffect8 {
    from {
        box-shadow: 1px 1px 5px #27c39f;
    }

    to {
        box-shadow: 0 0 2px #27c39f;
    }
}

@keyframes greenLight8 {
    from {}

    to {
        box-shadow: inset 0px 0px 32px #27c39f;
    }
}

@keyframes leftArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes rightArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(-10px);
    }
}

/*End*/
@media (min-width: 992px) {
    .setup-cell {
        height: 40px;
        width: 40px;
    }
}

.game-name {
    margin-top: 50px;
}

.boards-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.grid {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #1ca3ec;
    border: 1px solid black;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-coordinates {
    display: flex;
    justify-content: space-between;
    /*width: 90%;*/
    /*amount of space away of the col coordinates*/
    margin-left: 40px;
}

.row-coordinates h3 {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-weight: 500;
}

.grid-container {
    display: flex;
}

.column-coordinates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.column-coordinates h3 {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-weight: 500;
}

.crosshair {
    width: 50px;
    height: 50px;
}

.has-ship {
    background-color: #24244c;
}

.hit {
    background-color: green;
    animation: pop 0.3s ease;
}

.miss {
    background-color: red;
    animation: pop 0.3s ease;
}

.fogged {
    background-color: black;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fleet {
    max-width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #0ac5c4;
    display: flex;
    justify-content: space-between;
}

/*.enemy-board {*/
/*    box-shadow: 0px 0px 15px 2px #fb7185;*/
/*}*/

.enemy-cells,
.my-cells {
    transition:
        background-color 0.3s,
        transform 0.2s;
}

.enemy-cells:hover {
    background-color: #e0f2fe;
    /* light blue */
    cursor: crosshair;
}

/*Ships */
.destroyer-container,
.heavycruiser-container,
.destroyer-container {
    display: flex;
    flex-direction: column;
}

.selectable {
    cursor: pointer;
}

.ship {
    background-repeat: no-repeat;
    background-size: 101% 101%;
}

.setup-ship {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: fit-content;
    border-radius: 3px;
}

.setup-ship.ships-horizontal {
    flex-direction: row;
}

.west {
    transform: rotate(-90deg);
}

.battleship-0 {
    background-image: url("../images/battleship-0.png");
}

.battleship-1 {
    background-image: url("../images/battleship-1.png");
}

.battleship-2 {
    background-image: url("../images/battleship-2.png");
}

.battleship-3 {
    background-image: url("../images/battleship-3.png");
}

.cruiser-0 {
    background-image: url("../images/cruiser-0.png");
}

.cruiser-1 {
    background-image: url("../images/cruiser-1.png");
}

.cruiser-2 {
    background-image: url("../images/cruiser-2.png");
}

.destroyer-0 {
    background-image: url("../images/destroyer-0.png");
}

.destroyer-1 {
    background-image: url("../images/destroyer-1.png");
}
